/* Header */
.bs-header {
    font-size: 21px;
    padding: 30px 15px 40px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    color: white;
    background-color: #1f2c39;
}
/* Image blocks */

ul.hover-block {
    list-style: none;
}

ul.hover-block li{
    list-style:none;
    float:left;
    width:300px;
    height: 200px;
    position: relative;
    margin: 5px 4px;
}

ul.hover-block li a {
    display: block;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
    color: #000;
}

ul.hover-block li a {
    text-decoration: none;
}

ul.hover-block li .hover-content{
    position: absolute;
    z-index: 1000;
    height: 200px;
    top: 155px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    width: 300px;
}

ul.hover-block li .hover-content h6{
    color: #fff;
}

ul.hover-block li img {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    z-index: 500;
}

.hover-content-background {
    background: #1f2c39;
    color: #fff;
    margin: 3px 0px;
    display: inline-block;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    cursor: default;
}

/* Tag list */
ul.tags-list{
    display: inline;
    padding-left: 0px;
}

ul.tags-list li{
    list-style: none;
    display: inline;
}

/* Article list */

article.list .row div {
    margin-top: 20px;
}

article.list .articleThumb{
    margin-top: 30px;
    width: 300px;
    height: 200px;
}

/* Article */
article.reader {
    margin-top: 20px;
}

article.reader header {
    margin-bottom: 20px;
}

#article p {
    font-size: 18px;
}
