{% macro tags(tags, base_url = "/tags/") %}
    <ul class="tags-list">
        {% for tag in tags|default([]) %}
        <li>
            <a href="{{ base_url ~ tag.getTitle() }}">{{ tag.getTitle() }}</a>{% if not loop.last %}, {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro cutText(text, length = 500) %}
    {% if text|length > length %}
        {{ text|striptags|slice(0,length) ~ '...'  }}
    {% else %}
        {{ text }}
    {% endif %}
{% endmacro %}
