{% extends "partials/HtmlSkeleton.html.twig" %}

{% block page_contents %}

    <header role="banner" class="clfix">
        {% include "partials.menu" %}
    </header>

    <div role="main" class="clfix">
        {% block content %}
        <!-- To be replaced -->
        {% endblock %}
    </div>

    <footer role="contentinfo" class="clfix">
        {% include "partials.footer" %}
    </footer>

{% endblock %}
