{% extends "partials/HtmlSkeleton.html.twig" %}

{% block page_content %}

    {% include "partials.menu" %}

    {% block header %}
    {% endblock %}

    <div class="container">

        {% block content %}
        {% endblock %}

        {% include "partials.footer" %}

    </div>

{% endblock %}
