{% extends "partials/HtmlSkeleton.html.twig" %}

{% block page_content %}

    {% include "partials.menu" %}
    <div class="container">

        {% block header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% include "partials.footer" %}

    </div>

{% endblock %}
