{% extends parent_layout|default("layouts.general") %}

{% block header %}
   <div class="page-header" id="banner">
     <div class="jumbotron">
       <h1>Welcome!</h1>
       <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
       <p><a class="btn btn-primary btn-lg">Learn more</a></p>
     </div>
   </div>
{% endblock %}


{% block content %}
<div class="row">
   <div class="col-md-4">
      <div class="thumbnail">
         <div class="caption">
            <h3>Example 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada nisl at suscipit viverra. Morbi vehicula, neque eu auctor eleifend, erat diam sodales ante, nec bibendum enim magna quis turpis. Donec faucibus condimentum posuere. </p>
            <p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="thumbnail">
         <div class="caption">
            <h3>Example 2</h3>
            <p>Maecenas volutpat lorem in turpis dictum, in malesuada est pretium. Integer ultricies ligula eget orci faucibus, quis dictum orci condimentum. Nam eget dictum turpis. Curabitur congue nunc mattis rutrum tempor. Vestibulum ac lorem nec sem consectetur facilisis et quis diam. Ut bibendum porta metus et fringilla. Ut pretium iaculis eros, ac aliquet nibh consectetur vel. </p>
            <p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="thumbnail">
         <div class="caption">
            <h3>Example 3</h3>
            <p>Cras pellentesque orci ut vestibulum pulvinar. Cras consequat velit ante, vel egestas ipsum posuere eu. Proin rhoncus, turpis ut consectetur molestie, nisi ante condimentum ante, et condimentum ante ligula auctor massa. Mauris sagittis suscipit scelerisque. Etiam nisi enim, tincidunt nec pharetra et, pretium quis purus. Integer quis purus quis libero dapibus mollis. </p>
            <p><a href="#" class="btn btn-primary">Button</a> <a href="#" class="btn btn-default">Button</a></p>
         </div>
      </div>
   </div>
</div>
{% endblock %}
