<footer>
   <hr>
   <div class="row">
      <div class="col-lg-12">
         <ul class="list-unstyled">
            <li class="pull-right"><a href="#top">Back to top</a></li>
            <li><a href="http://blog.devaddiction.com">Blog</a></li>
            <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
            <li><a href="https://twitter.com/thomashpark">Twitter</a></li>
            <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
         </ul>
         <p>Made by <a href="http://www.devaddiction.com">Fran Álvarez</a>. Contact him at <a href="mailto:fran@devaddiction.com">fran@devaddiction.com</a>.</p>
      </div>
   </div>
</footer>
