<footer>
   <div class="row">
      <div class="col-lg-12">
         <ul class="list-unstyled">
            <li class="pull-right"><a href="#top">Back to top</a></li>
            <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
            <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
            <li><a href="https://twitter.com/thomashpark">Twitter</a></li>
            <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
            <li><a href="../help/#api">API</a></li>
            <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=F22JEM3Q78JC2">Donate</a></li>
         </ul>
         <p>Made by <a href="http://www.devaddiction.com">Fran Álvarez</a>. Contact him at <a href="mailto:fran@devaddiction.com">fran@devaddiction.com</a>.</p>
      </div>
   </div>
</footer>
