    <!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Blog">
<head>
    <meta charset="utf-8">
    <title>devaddiction | Fran Álvarez's Blog</title>
    <meta name="author" content="Fran Álvarez">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@devaddiction">
    <meta name="twitter:creator" content="@devaddiction">
    <meta name="twitter:title" content="devaddiction | Fran Álvarez's Blog">
    <meta name="twitter:url" content="http://devaddiction.com/">
    <meta name="twitter:description" content="devaddiction.com | Fran Álvarez. Software engineer - Web Developer in Madrid, development enthusiastic">
    <meta name="twitter:image:src" content="http://devaddiction.com/devaddictionFB.png">
    <meta content="devaddiction | Fran Álvarez's Blog" property="og:site_name">
    <meta content="devaddiction | Fran Álvarez's Blog" property="og:title">
    <meta content="website" property="og:type">
    <meta content="devaddiction.com | Fran Álvarez. Software engineer - Web Developer in Madrid, development enthusiastic" property="og:description">
    <meta content="http://devaddiction.com" property="og:url">
    <meta content="http://devaddiction.com/devaddictionFB.png" property="og:image">
    <meta property="og:locale"    content="en_us" />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://devaddiction.com/">

    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootswatch.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans" rel="stylesheet" type="text/css">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script>
    <link rel="stylesheet" type="text/css" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="https://plus.google.com/u/1/105081082137884739503/" rel="author" />

    {% include "partials.favicon" %}

</head>
<body>

    {% block page_content %}
    {% endblock %}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootswatch.js"></script>
    <script src="/js/jquery.simple-text-rotator.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&lang=basic&skin=sunburst"></script>
</body>
</html>
