<div class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <a href="../" class="navbar-brand">DevAddiction</a>
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
         <ul class="nav navbar-nav">
            <li>
               <a href="/articles">Blog</a>
            </li>
            <li>
               <a href="/about-me">About Me</a>
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.devaddiction.com/rss.xml" target="_blank"> <i class="icon-rss icon-large"></i></a></li>
            <li><a href="http://www.facebook.com/devaddiction" target="_blank"> <i class="icon-facebook icon-large"></i></a></li>
            <li><a href="http://www.twitter.com/devaddiction" target="_blank"> <i class="icon-twitter icon-large"></i></a></li>
            <li><a href="http://www.github.com/devaddiction" target="_blank"> <i class="icon-github icon-large"></i></a></li>
            <li><a href="http://www.linkedin.com/in/franalvarezdediego/" target="_blank"> <i class="icon-linkedin icon-large"></i></a></li>
         </ul>
      </div>
   </div>
</div>
