<div class="navbar navbar-inverse navbar-static-top">
   <div class="navbar-inner">
      <div class="container">
         <ul class="nav social">
            <li class="rss visible-desktop">
               <a href="http://devaddiction.com/rss.xml" target="_blank"> <i class="icon-rss-sign"></i>  </a>
            </li>
            <li class="facebook">
               <a href="http://facebook.com/devaddiction" target="_blank"> <i class="icon-facebook-sign"></i> </a>
            </li>
            <li class="twitter">
               <a href="http://twitter.com/devaddiction" target="_blank"> <i class="icon-twitter-sign"></i> </a>
            </li>
            <li class="linkedin">
               <a href="http://linkedin.com/in/devaddiction" target="_blank"> <i class="icon-linkedin-sign"></i> </a>
            </li>
            <li class="github">
               <a href="http://github.com/devaddiction" target="_blank"> <i class="icon-github-sign"></i> </a>
            </li>
         </ul>
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
         <span class="fui-menu-24"></span>
         </a>
         <div class="nav-collapse collapse navbar-responsive-collapse" style="height:0;">
            <ul class="nav">
               <li><a href="/">Home</a></li>
               <li><a href="/about">About</a></li>
               <li><a href="/contact">Contact</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
