{% extends parent_layout|default("layouts.general") %}

{% block header %}
<div class="bs-header" id="content">
      <div class="container">
        <h1>About me</h1>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="row about-us">
      <div class="col-md-4">
        <img class="photo-me" src="/images/about-me/franalvarez.png" alt="Fran Alvarez"/>
      </div>
      <div class="col-md-8">
            <p>Hi there, I'm <strong>Fran Álvarez</strong>.</p>

            <p>With experience in web, mobile, backend and a bit of frontend, I maintain a healthy balance between functionality and visual impact in all my work. I believe every piece of design can be a work of art.</p>

            <p>I love my work and enjoy each new project as I get it. Feel free to have a look at my portfolio and don't hesitate to contact me at <a href="mailto:hello@devaddiction.com">hello@devaddiction.com</a> if you think I can be of service to you.</p>
            <p>Thanks for stopping by!</p>
            <p><a href="http://www.devaddiction.com/franalvarezcv.pdf">Here's my CV!</a></p>
      </div>
    </div>
{% endblock %}

